.button {
  background-color: #87a9ff;
}

.title {
  text-decoration: wavy;
  font-family: sans-serif;
}

.title_orange {
  composes: title;
  color: var(--color-orange);
}

.title_grey {
  composes: title;
  color: var(--color-grey);
}

.img {
  width: 350px;
}
